.img{
    height: 500px;
}
button{
    background-color: darkgrey;
    color: white;
    border: none;
    border-radius: 20px;
}
p{
    font-size: 20px;
}
h1{
    font-size: 90px;
    font-weight: 700;
}
li{
    list-style: none;
}